<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Rishabh</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- devicon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Rishabh Ostawal</span>
                <span class="d-none d-lg-block"><%= image_tag("rushabh.jpg", :class => "img-fluid img-profile rounded-circle mx-auto mb-2", :alt => "") %></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Projects</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Interests</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Rishabh
                        <span class="text-primary">Ostawal</span>
                    </h1>
                    <div class="subheading mb-5">
                        12000 Golf Ridge Ct · Fairfax, VA 22033 · (703) 593-3413 ·
                        <a href="mailto:officialrushabh@gmail.com">officialrushabh@gmail.com&nbsp;&nbsp;</a>
                    </div>
                    <p class="lead mb-5">Passionate Software Developer with skills and interest ranging from Software to exploit development. Strong understanding of Linux, Windows and various other OS. Familiarity with various security concepts starting from Reconnaissance to privilege escalations. Active on various CTF challenges and competitions, also actively working on Vulnhub challenges. Understanding of Reverse Engineering binaries and executables, finding various bugs in web-applications, creating buffer-overflow exploits/ writing shellcodes for them.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/rushabh-ostwal-6a7275151/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://www.github.com/agent00097"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Software Engineering Intern</h3>
                            <div class="subheading mb-3">Neuroleap Corp, San Jose, CA</div>
                            <p>Worked on Nordic Semiconductor nrf25833 to develop a hub to connect biomedical sensors. Worked on ANT and BLE communication protocols for the connection. Duty also involved working on MAXIM ICs like MAX77650 and their Audio Evaluation kit.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">May 2020 - August 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Graduate Research Assistant</h3>
                            <div class="subheading mb-3">George Mason University, Fairfax, VA</div>
                            <p>Currently working as a research assistant along with a professor in School of Business, George Mason University. Project involves working on Collecting data from various websites such as Twitter and then refining that data to be processes later by Data analytics team. After getting the proper data, my duties include building and monitoring the web application built using Rails framework.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2020 - Present</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">George Mason University</h3>
                            <div class="subheading mb-3">Master of Science</div>
                            <div>Computer Science</div>
                            <p>GPA: 3.45</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2019 - Present (Expected Graduation: May 2021)</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Amravati University</h3>
                            <div class="subheading mb-3">Computer Science and Engineering</div>
                            <p>GPA: 7.63</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">August 2015 - May 2019</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="devicon-c-line-wordmark colored"></i></li>
                        <li class="list-inline-item"><i class="devicon-python-plain-wordmark colored"></i></li>
                        <li class="list-inline-item"><i class="fab fa-linux"></i></li>
                        <li class="list-inline-item"><i class="fab fa-windows"></i></li>
                        <li class="list-inline-item"><i class="fab fa-java"></i></li>
                        <li class="list-inline-item"><i class="devicon-cplusplus-plain"></i></li>
                        <li class="list-inline-item"><i class="devicon-debian-plain"></i></li>
                        <li class="list-inline-item"><i class="devicon-git-plain"></i></li>
                        <li class="list-inline-item"><i class="devicon-rails-plain-wordmark"></i></li>
                        <li class="list-inline-item"><i class="devicon-ruby-plain-wordmark colored"></i></li>
                        <li class="list-inline-item"><i class="devicon-android-plain-wordmark colored"></i></li>
                    </ul>
                    <div class="subheading mb-3">Other</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Paper Published: Application to Map Locations for Disabled people
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Familiarity working with MIPS/Assembly code on microcontroller MSP430    
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Notable Accomplishments: Selected to lead in India’s biggest Hackathon from my school out of 600 people. 
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Projects</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Disabillitato</h3>
                            <p>Developed a cross platform (Android, iOS and Windows) mobile application using Xamarin. Project included developing an application for disabled people and helping them navigate to the accessible places. It required work of Restful APIs, database and many other tool and technologies. Project was scripted in C# and used Azure for storing location information. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"><a href="https://github.com/agent00097/Disabillitato">Github</a></span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Chain Reaction</h3>
                            <p>Created a secure network chain reaction game using python. Libraries and tools used were Pygames, sockets etc. Main aspect of creating a game was to make it secure. Used TLS for network part to make it secure. Created certain cross-validation and input validation algorithms to make secure via verification technique. Also took care of filtering all the inputs using regex to secure from various SQL injection and directory traversal attacks. Network server only used one port to contact with players which limited open ports to stop attackers and reduce vulnerabilities. </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"><a href="https://github.com/agent00097/chain_reaction_python">Github</a></span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Mython Parser</h3>
                            <p>Worked on three academic projects for a language ‘Mython’ created for classroom. First part of the project was scanning and parsing Mython. Lex was used to perform syntax analysis for a subset of Mython program. For the scanning, Lex was used and for the analysis, Recursive Decent Parsing was performed. It helped record basic information and syntaxes from Mython. Second part of the project was to work on the grammar of Mython. And to perform Semantic checking on Mython using Yacc. For the parsing part bottom up parser LR was used. Last part of the program was to augment the recorded information from previous two steps into Assembly code MIPS.</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary"><a href="https://github.com/agent00097/mython_mips">Github</a></span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Linux Kernel Scripts</h3>
                            <p>Spent plenty of time working with Linux kernel. Developed system calls, created thread structure, wrote fork system call. Apart from this, also worked on writing Dynamically Loadable kernel modules to automate processes such as checking the integrity of all the incoming packes and files over the internet for my distribution. Also worked on many security aspects of linux kernel such as creating scripts to scan for vulnerable exploits in the system correspondong to kernel version.</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Cyber Security Projects and active projects</h3>
                            <p>Created Several Buffer overflows exploits for different executables in different Operating Systems. Also worked on Microcorruption challenges to create shellcodes for MSP430 microcontroller. Debugged through many binaries and executables to find the memory vulnerability and then assembled a shellcode and inserted into that particular memory offset. Also actively working on creating an automated C script to scan the network, find the vulnerability, search the exploits of those vulnerabilities and then display and use them. Also wrote Python scripts with Pwn libraries to solve cryptographic challenges. <br>Working on developing an AOSP based ROM for blueline. Have worked on these projects before, I have a good grip over android, it’s operating system and recoveries. Created various flashable packages for recoveries in my spare time. </p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from being a software developer, I enjoy most of my time reading books, watching horror, documentary and thriller films. I also like to solve puzzles on websites like <a href="http://pwnable.tw/">pwnable</a>, <a href="https://picoctf.com">PicoCTF</a> etc. and whenever possible I participate in CTFs</p>
                    <p class="mb-0">I also like to study Mathematics and Physics. If not for computers, I would have opted for a career in Physics. I spend a large amount of my free time exploring new and interesting concepts of physics.</p>
                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <%= javascript_pack_tag 'scripts', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
