<h1> This is your Journal </h1>
<p><strong>Date: </strong> <%= @journal.created_at %> </p>
<p><strong>Title: </strong><%= @journal.title %></p>
<p><strong>Entry: </strong><%= @journal.description %></p>